* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/mitch-harris-cPZ21gvclO8-unsplash.jpg");
    background-repeat: repeat;
    background-origin: center;
    height: 100vh;
}

.titleQuiz {
    font-family: 'Saira Stencil One', cursive;
    /* neat trick to make a title with background */
    background-image: url("img/thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* neat trick to make a title with background */

}

.result {
    font-family: 'Crimson Text', serif;
    color: white;

}

.quiz {

    font-family: 'Crimson Text', serif;
    font-size: 25px;
    background: rgb(0, 3, 55);
    background: linear-gradient(90deg, rgba(0, 3, 55, 1) 0%, rgba(104, 109, 129, 1) 100%);

}

.quizPercent {
    background: -webkit-linear-gradient(rgba(0, 3, 55, 1), rgba(104, 109, 129, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    font-size: 20px;
}